<div class='profile__inputs input'>
  <label for={{text}}>{{label}}</label>
  <input
    readonly
    class='input__field'
    type={{type}}
    id={{text}}
    placeholder=''
    value={{value}}
    required
    name={{text}}
  />
</div>