<div class="profile__inputs input">
  <label class="label__profile" for={{text}}>{{label}}</label>
  <input
    class="input__profile"
    readonly
    type={{type}}
    id={{text}}
    placeholder=""
    value={{value}}
    required
    name={{text}}
  />
</div>
