<div class='auth__inputs input'>
  <label for={{text}}>{{label}}</label>
  <input
    class='input__field'
    type={{type}}
    id={{text}}
    placeholder=''
    required
    name={{text}}
  />

</div>